# Synthia's notebook to experiment with the data

In [2]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

## Load Datasets

In [31]:
NSDUH2021 = pd.read_table("datasets/National Survey on Drug Use and Health 2021/NSDUH_2021_Tab.txt")
# display(NSDUH2021.head())

/var/folders/gb/6lz7ywcj7bv70m1184dmt2ym0000gn/T/ipykernel_69762/854916542.py:1: DtypeWarning: Columns (2799) have mixed types. Specify dtype option on import or set low_memory=False.
  NSDUH2021 = pd.read_table("datasets/National Survey on Drug Use and Health 2021/NSDUH_2021_Tab.txt")

In [12]:
NSDUH2019 = pd.read_table("datasets/National Survey on Drug Use and Health 2019/NSDUH_2019_Tab.txt")
# display(NSDUH2019.head())

/var/folders/gb/6lz7ywcj7bv70m1184dmt2ym0000gn/T/ipykernel_69762/884588277.py:1: DtypeWarning: Columns (2575) have mixed types. Specify dtype option on import or set low_memory=False.
  NSDUH2019 = pd.read_table("datasets/National Survey on Drug Use and Health 2019/NSDUH_2019_Tab.txt")

In [10]:
NSDUH2018 = pd.read_table("datasets/National Survey on Drug Use and Health 2018/NSDUH_2018_Tab.tsv")
display(NSDUH2018.head())

/var/folders/gb/6lz7ywcj7bv70m1184dmt2ym0000gn/T/ipykernel_69762/406517505.py:1: DtypeWarning: Columns (2525) have mixed types. Specify dtype option on import or set low_memory=False.
  NSDUH2018 = pd.read_table("datasets/National Survey on Drug Use and Health 2018/NSDUH_2018_Tab.tsv")

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
0,11015143,10/08/2019,1,99,99,12,9999,99,1,20,...,3.0,2,2,1,1,2,2,20783.261908,40001,1
1,86325143,10/08/2019,2,99,99,991,9991,91,91,91,...,2.0,2,2,3,3,2,2,1095.884074,40004,1
2,35425143,10/08/2019,1,99,99,13,9999,99,4,93,...,3.0,2,2,2,2,2,2,374.445005,40017,2
3,98125143,10/08/2019,2,99,99,991,9991,91,91,91,...,2.0,2,2,2,2,2,2,2421.263435,40038,2
4,15945143,10/08/2019,2,99,99,991,9991,91,91,91,...,2.0,1,2,1,1,2,2,6637.319591,40040,2

In [16]:
CoreTrends2021 = pd.read_csv("datasets/Jan-25-Feb-8-2021-Core-Trends-Survey/Jan 25-Feb 8, 2021 - Core Trends Survey - CSV.csv")
# display(CoreTrends2021.head())

In [17]:
CoreTrends2019 = pd.read_csv("datasets/January-8-February-7-2019-Core-Trends-Survey-SPSS/January 8-February 7, 2019 - Core Trends Survey - CSV.csv")
# display(CoreTrends2019.head())

In [15]:
CoreTrends2018 = pd.read_csv("datasets/January 3-10, 2018 - Core Trends Survey/January 3-10, 2018 - Core Trends Survey - CSV.csv")
display(CoreTrends2018.head())

,respid,sample,comp,int_date,lang,cregion,state,density,usr,qs1,...,inc,party,partyln,hh1,hh3,ql1,ql1a,qc1,weight,cellweight
0,1,1,1,180103,1,1,42,5,U,,...,6,2,,5,4,1,,,1.746359,
1,2,1,1,180103,1,3,45,2,S,,...,4,3,8,2,2,2,2,,1.659764,
2,3,1,1,180103,1,1,34,5,S,,...,4,1,,1,,1,,,0.490804,
3,4,1,1,180103,1,3,24,4,S,,...,2,2,,2,2,1,,,0.947965,
4,5,1,1,180103,1,1,33,2,R,,...,7,1,,3,3,1,,,0.915959,

## Clean up data


###ADMT16 - ADMT21  : How many visits to various types of outpatient facilities for mental health

ADMT01 : AUINPYR : stayed in hospital for mental health
ADMT25/ADMTREF25 : AURXYR : taken any medication for mental health

YE09 : YEATNDYR : HAs attended some sort of school
YE10 : YESCHFLT : how much they like going to school (1-4, 4=hated it)
YE23b : YEPRBSLV : participated in self-esteem group

NERVE30 : DSTNRV30 : How often felt nervous (1-5, 5=never) in past 30 days
HOPE30 : DSTHOP30 : How often feel hopeless
NOCHR30 : DSTCHR30 : How often felt depressed
DOWN30 : DSTNGD30 : How often feeling down/worthless
WORST30 : DSTWORST : In past year has there been a worse month than current (1-2, 2=No)
DSNERV1 : DSTNRV12 : in WORST30 month, how often felt nervous
DSHOPE : DSTHOP12 : In WORST30 month, how often felt hopeless
DSNOCHR : DSTCHR12 : in WORST30 month, how often felt depressed
DSDOWN : DSTNGD12 : in WORST30 month, how often felt worthless

LICONCEN : IMPCONCN : Difficulty concentrating in their worst month (1-4, 4= severe)
LIGOOUT1 : IMPGOUT : Difficulty leaving house
LISTRAN1 : IMPPEOP : Difficulty dealing with less known people
LISOC1 : IMPSOC : Difficulty participating in social activites
LISOC2 : IMPSOCM : Did mental health problems keep from participating socially

SUI01 : SUICTHNK : Think about suicide in past year
SUI02 : SUIPLANYR :  Plans for suicide

ASC21 : ADDPREV : Long periods of feeling sad

In [34]:
cols = [
    "AUINPYR",
    "AURXYR",
    "YEATNDYR",
    "YESCHFLT",
    "YEPRBSLV",
    "DSTNRV30",
    "DSTHOP30",
    "DSTCHR30",
    "DSTNGD30",
    "DSTWORST",
    "DSTNRV12",
    "DSTHOP12",
    "DSTCHR12",
    "DSTNGD12",
    "IMPCONCN",
    "IMPGOUT",
    "IMPPEOP",
    "IMPSOC",
    "IMPSOCM",
    "SUICTHNK",
    "SUIPLANYR",
    "ADDPREV"
]

NSDUH2021_copy = NSDUH2021.copy(deep=True)

NSDUH2021_copy = NSDUH2021_copy[cols]
NSDUH2021_copy.columns
print(NSDUH2021_copy.head())

   AUINPYR  AURXYR  YEATNDYR  YESCHFLT  YEPRBSLV  DSTNRV30  DSTHOP30  \
0        2       2        99        99        99         4         3
1        2       2        99        99        99         5         5
2        2       1        99        99        99         4         5
3        2       2        99        99        99         2         3
4        2       2        99        99        99         5         5

   DSTCHR30  DSTNGD30  DSTWORST  ...  DSTCHR12  DSTNGD12  IMPCONCN  IMPGOUT  \
0         5         3         2  ...        99        99         1        2
1         5         5         2  ...        99        99        99       99
2         5         5         1  ...         4         3         2        3
3         3         2         2  ...        99        99         3        2
4         5         5         2  ...        99        99        99       99

   IMPPEOP  IMPSOC  IMPSOCM  SUICTHNK  SUIPLANYR  ADDPREV
0        1       1       99         2          2        2
1       99      99       99         2          2        2
2        3       4       99         2          2        2
3        3       2       99         2          2        1
4       99      99       99         2          2        2

[5 rows x 22 columns]

In [36]:
#Removed "SUIPLANYR" because its not present
cols = [
    "AUINPYR",
    "AURXYR",
    "YEATNDYR",
    "YESCHFLT",
    "YEPRBSLV",
    "DSTNRV30",
    "DSTHOP30",
    "DSTCHR30",
    "DSTNGD30",
    "DSTWORST",
    "DSTNRV12",
    "DSTHOP12",
    "DSTCHR12",
    "DSTNGD12",
    "IMPCONCN",
    "IMPGOUT",
    "IMPPEOP",
    "IMPSOC",
    "IMPSOCM",
    "SUICTHNK",
    "ADDPREV"
]
NSDUH2019_copy = NSDUH2019.copy(deep=True)
NSDUH2019_copy = NSDUH2019_copy[cols]
NSDUH2019_copy.columns

Index(['AUINPYR', 'AURXYR', 'YEATNDYR', 'YESCHFLT', 'YEPRBSLV', 'DSTNRV30',
       'DSTHOP30', 'DSTCHR30', 'DSTNGD30', 'DSTWORST', 'DSTNRV12', 'DSTHOP12',
       'DSTCHR12', 'DSTNGD12', 'IMPCONCN', 'IMPGOUT', 'IMPPEOP', 'IMPSOC',
       'IMPSOCM', 'SUICTHNK', 'ADDPREV'],
      dtype='object')

In [37]:
NSDUH2018_copy = NSDUH2018.copy(deep=True)
NSDUH2018_copy = NSDUH2018_copy[cols]
NSDUH2018_copy.columns

Index(['AUINPYR', 'AURXYR', 'YEATNDYR', 'YESCHFLT', 'YEPRBSLV', 'DSTNRV30',
       'DSTHOP30', 'DSTCHR30', 'DSTNGD30', 'DSTWORST', 'DSTNRV12', 'DSTHOP12',
       'DSTCHR12', 'DSTNGD12', 'IMPCONCN', 'IMPGOUT', 'IMPPEOP', 'IMPSOC',
       'IMPSOCM', 'SUICTHNK', 'ADDPREV'],
      dtype='object')

Core trends variables:

web1a    -	Twitter
web1b    -	Instagram
web1c    -	Facebook 
web1d    -	Snapchat
web1e    -	YouTube

How often use social media, 1-5, 5=less often

sns2a    -	Twitter
sns2b    -	Instagram
sns2c    -	Facebook 
sns2d    -	Snapchat
sns2e    -	YouTube

gender  - gender
age     - age

In [42]:
CoreTrends2021Cols = [
    "respid", "web1a", "web1b", "web1c", "web1d", "web1e",
    "sns2a", "sns2b", "sns2c", "sns2d", "sns2e",
    "gender", "age"
]
CoreTrends2021_copy = CoreTrends2021.copy(deep=True)
CoreTrends2021_copy = CoreTrends2021_copy[CoreTrends2021Cols]
CoreTrends2021_copy.columns

Index(['respid', 'web1a', 'web1b', 'web1c', 'web1d', 'web1e', 'sns2a', 'sns2b',
       'sns2c', 'sns2d', 'sns2e', 'gender', 'age'],
      dtype='object')

In [44]:
CoreTrends2019Cols = [
    "respid", "web1a", "web1b", "web1c", "web1d", "web1e",
    "sns2a", "sns2b", "sns2c", "sns2d", "sns2e",
    "sex", "age"
]
CoreTrends2019_copy = CoreTrends2019.copy(deep=True)
CoreTrends2019_copy = CoreTrends2019_copy[CoreTrends2019Cols]
CoreTrends2019_copy.columns

Index(['respid', 'web1a', 'web1b', 'web1c', 'web1d', 'web1e', 'sns2a', 'sns2b',
       'sns2c', 'sns2d', 'sns2e', 'sex', 'age'],
      dtype='object')

In [45]:
CoreTrends2021Cols = [
    "respid", "web1a", "web1b", "web1c", "web1d", "web1e",
    "sns2a", "sns2b", "sns2c", "sns2d", "sns2e",
    "sex", "age"
]
CoreTrends2021_copy = CoreTrends2021.copy(deep=True)
CoreTrends2021_copy = CoreTrends2021_copy[CoreTrends2021Cols]
CoreTrends2021_copy.columns

Index(['respid', 'web1a', 'web1b', 'web1c', 'web1d', 'web1e', 'sns2a', 'sns2b',
       'sns2c', 'sns2d', 'sns2e', 'sex', 'age'],
      dtype='object')